.summary-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .summary-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .summary-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .summary-details {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .summary-details p {
    margin: 10px 0;
    font-size: 1rem;
    color: #555;
  }
  
  .map-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .summary-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .summary-button-submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;    
    background-color: #4caf50;
    color: #fff;
  }


  .summary-button-submit-button:hover {
    opacity: 0.9;
  }
  
  
  .summary-button-cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;    
    background-color: #f44336;
    color: #fff;
  }
  
  .summary-button-cancel-button:hover {
    opacity: 0.9;
  }
  